<h2> new blog post </h2>
<%= form_with model: @blog do |form| %>
    <br/> <br/>
    <%= form.text_field :title %>
    <br/> 
    <%= form.text_area :content %>
    <br/>
    <%= form.submit %>
  <% end %>

  <h5> <%= link_to 'Back to Home', blogs_path %></h5>